<div class="flex-container">
  <%= render "shared/sidebar" %>  
  
  <div class="container container-top-band sidebar-margin pl-4">
    <h2>My dashboard</h2>
    <br><br>
    <div class="cards">
      <% @competitors.each do |competitor| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= link_to competitor.brand_name, competitor_path(competitor) %></h2>
          </div>
        </div>
      <% end %>      
    </div>
  </div>
</div>
