<%= link_to 'Create a new competitor', new_competitor_path, class: "btn btn-success text-white btn-lg" %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Competitors dashboard</h1>
        <% @competitors.each do |competitor| %>
          <%= link_to competitor_path(competitor) %>
        <% end %>
    </div>
  </div>
</div>
