<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="container text-center pt-5 w-500
  sidebar-margin">
    <h1>Add a new competitor in your list !</h1>
    <br>
    <h4>Just give us the <strong>siren</strong> of your competitor and Shahmat will fetch the rest</h2>
      <div class="loadingio-spinner-bean-eater-bdr3rdi6xf"><div class="ldio-2mai6tbnnws">
<div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
</div></div>

    <div class="form-style">
      <%= simple_form_for(@competitor) do |f| %>
        <%= f.input :siren, required: true , placeholder: "Type here your siren", label: false %>
        <%= f.button :submit %>
      <% end %>
    </div>
      <p style="margin-top : 70px;"> <em> Shahmat technologies will gather informations all over the internet and update it everyday !  </em></p>
  </div>
</div>
