<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="container text-center pt-5 w-500 container-top-band
  sidebar-margin">
    <h4>Just give us the <em>siren</em> of your competitor and Shahmat will fetch the rest</h2>
      <div class="loadingio-spinner-bean-eater-bdr3rdi6xf"><div class="ldio-2mai6tbnnws">
<div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
</div></div>
    <div class="form-style">
      <%= simple_form_for(@competitor) do |f| %>
        <%= f.input :siren, required: true  %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
