
<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="container container-top-band sidebar-margin pl-4 mt-3 d-flex">
    <%= render "competitors/id_card", competitor: @competitor%>
    <%= render "competitors/hr", competitor: @competitor%>
  </div>
</div>



