
<div class="flex-container">
  <%= render "shared/sidebar" %>
  <div class="container container-top-band sidebar-margin pl-4 mt-3">
    <%= render "id_card", competitor: @competitor%>
    <%= render "hr", competitor: @competitor%>
    <%= render "key_figures", competitor: @competitor%>
  </div>
</div>
