.btn-gradient {
  color: #FFF;
  height: 40px;
  background: #993399;
  margin-left: 10px;
  padding: 8px 24px;
  transition: background 0.3s ease;
  border: 1px solid #993399;
  opacity: 0.7;
  border-opacity: 1;
}

.btn-gradient:hover {
  background: #993399;
  color: white;
  opacity: 1;
}
