.comments {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  height: fit-content;
 }

.headerComments {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px 0px 20px;
  position: relative;
}

.nbComments {
  justify-content: space-evenly;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  background-color: #993399;
  padding: 13px;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  left: 168px;
  top: 15px;
}

.bodyComments {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px 10px 20px;
  margin-bottom: 5px;
  border-top: 1px solid lightgrey;
  // border: 1px solid lightgrey;
  // border-radius: 30px;
}

.infoComments {
  color: grey;
  font-size: 12px;
  max-width: 100px;
}

.textComments {
  padding-left: 10px;
}

.kfComments {
  background-color: #4F4F4F;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  width: 180px;
  height: 30px;
  font-size: 13px;
  // height: 68px;
  // width: 495px;
  // font-size: 40px;
  // position: absolute;
  // right: 0;
  // bottom: 0px;
}

.hrComments {
  background-color: #6FCF97;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  width: 180px;
  height: 30px;
  font-size: 13px;
  // height: 68px;
  // width: 495px;
  // font-size: 40px;
  // position: absolute;
  // right: 0;
  // bottom: 0px;
}

.idComments {
  background-color: #F2C94C;
  border-radius: 10px;
  color: white;
  padding: 5px;
  text-align: center;
  width: 180px;
  height: 30px;
  font-size: 13px;
  // height: 68px;
  // width: 495px;
  // font-size: 40px;
  // position: absolute;
  // right: 0;
  // bottom: 0px;
}
