.flex-container {
  display: flex;
}

.container-search form {
  position: sticky;
  top: 0px;
  padding-top: 20px;
  z-index: 2;
  background-color: #F4F4F4;
  display: flex;
}

.container-search form #query {
  width: 350px;
  margin-bottom: 10px;
  height: 40px;
}
