.contentShow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.scrapdatabox {
  padding: 10px;
  margin-bottom: 16px;
  background: white;
  border-radius: 15px;
  border: 0.1px solid $shahmat-light-grey;

}

.scrapdatabox h3 {
  padding: 10px 20px 0px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.scrapdatabox i {
  color: #993399;
}

.addressblock {
  word-wrap: break-word;
  max-width: 320px;
  margin-left: 5px;
}

.addressdiv {
  display: flex;
}

.address-li {
  display: flex;
}
