.jobcard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.jobcard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.jobcard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.jobcard .jobcard-infos {
  padding: 16px;
}

.jobcard a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}
