.list-jobcard {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 15px;
  height: fit-content;
}

.jobcard {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 14px;
  border: 0.1px solid $shahmat-light-grey;
  padding-bottom: 10px;
}

.jobcard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.jobcard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.jobcard .jobcard-infos {
  padding-left:15px;
  padding-bottom: 20px;
}


.job-details-link {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right: 0;
}

.jobcard:hover {
  border-color : $shahmat-grey;
  transform: translateY(-5px);
}


// .job-details-link:hover {
//   text-decoration:none;
//   color: white;
// }

// .jobcard:hover .job-details-link {
//   display: block;

// }
