.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.competitor-logo {
  height: 170px;
  width: 170px;
  object-fit: cover;
}

.logowebsite {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.logowebsite a {
  background-color: $shahmat;
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
}
