.sidebar {
  width: 200px;
  height: 100vh;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  background-color: #363740;
  // background-color: #120078;
  position: fixed;
  color: #60626E;
  text-color: yellow;
}

.sidebar p {
  color: $shahmat-grey
}

.sidebar a {
  color : $shahmat-grey
}

.sidebar-margin {
  margin-left: 200px;
}

.sidebar-logo {
  align-items: center;
}

.sidebar-logo a {
  margin-right: 15px;
}

.sidebar-logo p {
  font-weight: 800;
  font-size: 18px;
}

.sidebar img {
  margin-bottom: 20px;
}

.sidebar-logo img {
  width: 50px;
  height: 50px;
  left: 15px;
  bottom: 15px;
}

.menu-item {
  border-left: 5px solid #363740;
}

.highlight {
 border-left: 5px solid $shahmat-light-grey;
 background-color: $shahmat-grey;
}

.highlight .fas, .highlight a {
 color: $shahmat-light-grey;
}

.sidebar-section img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.sidebar .fas {
  margin-right: 4px;
}

.section {
  display: grid;
}

.section a {
  padding: 10px 10px 0 30px;
}

.section a:hover {
  color: $shahmat-light-grey;
}

.link-text-sidebar {
  color: $shahmat-light-grey;
}
.link-text-sidebar a {
  text-decoration: none;
  color: #shahmat-grey;
}

.link-text-sidebar a:hover {
  text-decoration: none;
  color: #shahmat-light-grey;
}
